.debhelper
autoreconf.after
autoreconf.before
debhelper-build-stamp
files
libnvpair1linux.debhelper.log
libnvpair1linux.substvars
libnvpair1linux
libuutil1linux.debhelper.log
libuutil1linux.substvars
libuutil1linux
libzfs2linux.debhelper.log
libzfs2linux.substvars
libzfs2linux
libzfslinux-dev.debhelper.log
libzfslinux-dev.substvars
libzfslinux-dev
libzpool2linux.debhelper.log
libzpool2linux.substvars
libzpool2linux
python3-pyzfs.debhelper.log
python3-pyzfs.postinst.debhelper
python3-pyzfs.prerm.debhelper
python3-pyzfs.substvars
python3-pyzfs
pyzfs-doc.debhelper.log
pyzfs-doc.substvars
pyzfs-doc
spl-dkms.debhelper.log
spl-dkms.substvars
spl-dkms
spl.debhelper.log
spl.substvars
spl
tmp
zfs-dkms.debhelper.log
zfs-dkms.postinst.debhelper
zfs-dkms.postrm.debhelper
zfs-dkms.prerm.debhelper
zfs-dkms.substvars
zfs-dkms
zfs-dracut.debhelper.log
zfs-dracut.substvars
zfs-dracut
zfs-initramfs.debhelper.log
zfs-initramfs.substvars
zfs-initramfs
zfs-test.debhelper.log
zfs-test.substvars
zfs-test
zfs-zed.debhelper.log
zfs-zed.postinst.debhelper
zfs-zed.postrm.debhelper
zfs-zed.substvars
zfs-zed
zfsutils-linux.debhelper.log
zfsutils-linux.postinst.debhelper
zfsutils-linux.postrm.debhelper
zfsutils-linux.prerm.debhelper
zfsutils-linux.substvars
zfsutils-linux
